$font-color: #4b8284;
$font-heading-color: #f3f6fb;
$font-family: "Montserrat", sans-serif;
$bold-font: 600;
$regular-font-size: 1rem;
$container-padding: 2rem;
$cart-background: #4b828470;
$heading-color: white;
$thin-border: 0.1rem solid rgb(136, 136, 136);
$regular-border-size: 1rem;
$regular-margin: 1rem;
$cart-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
$s1: "";
$s2: "";
$s3: "";
